/* ---------------------banner css */

.banner-area {
    height: 60vh;
    width: 100%;
    background: linear-gradient( #1c1a2521, #000000ab),url(../assets/Images/festival-banner.jpg) no-repeat;
    /* background-color: #eee; */
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; 
}

/* ---------------------banner css ends ---------------------*/




.details{
    padding: 10px 50px ;
    padding-top: 5%;
    padding-bottom: 10%;
  }
  
  .details h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 100px;
    color: var(--black);
    }
    
    
  .details p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--gray-1); 
    padding-top: 20px;
    }










    